.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 50px;
  height: auto;
  width: 100vw;
  padding-top: 40px;
}
